<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./styles/style.css">

  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>

<body>
  {{> navbarClient}}


  <section>
    <div class="p-8 w-full bg-[#e5e8e9]">
      <div class="w-full  grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 lg:gap-1">
        <div class="p-4   w-full rounded-md   col-span-2 ">

          <div
            class="relative max-w-md mx-auto md:max-w-2xl min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-xl mt-16">
            <div class="px-6">
              <div class="flex flex-wrap justify-center">
                <div class="w-full flex justify-center">
                  <div class="relative">
                    <img src="/uploads/{{utilisateur.image_url}}"
                      class="shadow-xl rounded-full align-middle border-none absolute -m-16 h-32 w-32 -ml-20 lg:-ml-16 max-w-[150px]" />
                  </div>
                </div>
                <div class="w-full text-center mt-20">

                </div>
              </div>
              <div class="text-center mt-2">
                <h3 class="text-2xl text-slate-700 font-bold leading-normal mb-1">{{utilisateur.nom}}
                  {{utilisateur.prenom}}</h3>
                <h3 class="text-xl text-slate-700 font-bold leading-normal mb-1"> {{freelances.categories}}</h3>
                <div class="text-xs  mt-2 text-slate-400 font-bold uppercase">
                  {{#each competance}}
                  <span class="bg-blue-100 text-blue-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded  ml-2 ">{{nom}}
                  </span>
                  {{/each }}

                </div>
              </div>
              <div class="mt-6 py-6 border-t border-slate-200 text-center">
                <div class="flex flex-wrap justify-center">
                  <div class="w-full px-4">
                    <p class="font-light leading-relaxed text-slate-600 mb-4"> {{freelances.discription}} </p>
                    <a href="/uploads/{{freelances.cv_freelance}}"
                      class="font-normal text-slate-700 hover:text-slate-400">Voir Son CV </a>
                    <a href="/proposerMission/{{utilisateur.id}}"
                      class="h-11 ml-40 w-44 rounded-lg bg-gradient-to-r from-cyan-500 to-blue-500 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-gradient-to-bl focus:outline-none focus:ring-4 focus:ring-cyan-300 dark:focus:ring-cyan-800">Proposer
                      une mission
                      </a>
                  </div>

                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="p-4  rounded-md   justify-center">
          <div
            class=" mb-8  max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <a href="/ajoutMission">
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Vous recherchez un
                freelance ? </h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">En soumettant votre projet, vous profiterez
              d'une mise en correspondance efficace pour trouver le freelance qui répondra le mieux à vos besoins.</p>
            <a href="/ajoutMission"
              class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
              ajout une mission
              <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                  clip-rule="evenodd"></path>
              </svg>
            </a>
          </div>
          <div
            class=" max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <a href="#">
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Notre Communautés </h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"> communique régulièrement ses idées et ses
              impressions sur divers sujets</p>
            <a href="#"
              class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
              Voir Notre Journal
              <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                  clip-rule="evenodd"></path>
              </svg>
            </a>
          </div>
        </div>

      </div>
    </div>
  </section>

  {{> footer}}
  <script>
    function Menu(e) {
      let list = document.querySelector('ul');
      e.name === 'menu' ? (e.name = "close", list.classList.add('top-[80px]'), list.classList.add('opacity-100')) : (e.name = "menu", list.classList.remove('top-[80px]'), list.classList.remove('opacity-100'))
    }
  </script>
</body>

</html>