<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./styles/style.css">

  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>

<body>
  {{> header}}

  <section class="text-gray-600 body-font">
    <div class=" relative h-96 w-full">
      <img class=" w-full h-full" src="images/work.png" alt="">
    </div>
    <div class=" w-full  ml-10 ">
      <form>
        <div class="shadow-2xl h-auto w-3/4 ml-10  bg-slate-50 rounded-lg  mb-4 grid md:grid-cols-2 gap-0">

          <div class=" w-full md:h-4">
            <label class="relative block w-full">
              <span class="absolute inset-y-0 left-0 flex items-center pl-2">
                <img class="h-5 w-5" src="images/search-outline.svg" alt="Search">
              </span>
              <input
                class="placeholder:italic placeholder:text-slate-400 block bg-white w-full border border-slate-300 rounded-md py-2 pl-9 pr-3 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-sm"
                placeholder="Développeur PHP, java, C#..." type="text" name="search" />
            </label>
          </div>
          <div class="  w-full ">
            <button
              class="py-2 px-4 w-full bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75">
              chercher
            </button>
          </div>
        </div>
      </form>
    </div>
  </section>
  <section>
    <div class="p-8 w-full bg-[#e5e8e9]">
      <div class="w-full  grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 lg:gap-1">
        <div class="p-4  w-full rounded-md  items-center col-span-2 ">
          <div class="grid grid-cols-1  gap-4 lg:gap-8">
            {{#each projet}}
            <div class="p-4 rounded-md flex items-center justify-center">

              <div class="flex w-full mb-4">
                <div class="w-full rounded-xl border bg-white p-5 shadow-md">
                  <div class="flex w-full items-center justify-between border-b pb-3">
                    <div class="flex items-center space-x-3">
                      <div class="text-lg font-bold text-slate-700">{{nom}} {{prenom}}</div>
                    </div>
                    <div class="flex items-center space-x-8">
                      <a href="/register"
                        class="rounded-2xl border bg-blue-300 hover:bg-blue-600 px-3 py-1 text-l font-semibold">Postuler</a>
                      <div class="text-xs text-neutral-500">{{ formatDate date_publier " YYYY-MM-DD hh:mm"}}</div>
                    </div>
                  </div>

                  <div class="mb-6 mt-4">
                    <div class="mb-3 text-xl font-bold"> {{titre}} </div>
                    <div class="text-sm text-neutral-600"> {{description}} </div>
                  </div>

                  <div>
                    <div class="flex items-center justify-between text-slate-500">
                      <div class="flex space-x-4 md:space-x-8">
                        <div class="flex cursor-pointer items-center transition hover:text-slate-600">
                          <ion-icon class="mr-1.5 h-5 w-5" name="cash-outline"></ion-icon>

                          <span>{{prix}}</span>
                        </div>
                        <div class="flex cursor-pointer items-center transition hover:text-slate-600">
                          <ion-icon class="mr-1.5 h-5 w-5" name="hourglass-outline"></ion-icon>
                          <span>{{duree}}</span>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            {{/each}}
          </div>
        </div>
        <div class="p-4  rounded-md   justify-center">
          <div
            class=" mb-8  max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <a href="/registerClient">
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Vous recherchez un
                freelance ? </h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">En soumettant votre projet, vous profiterez
              d'une mise en correspondance efficace pour trouver le freelance qui répondra le mieux à vos besoins.</p>
            <a href="/registerClient"
              class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
              ajout une mission
              <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                  clip-rule="evenodd"></path>
              </svg>
            </a>
          </div>
          <div
            class=" mb-8 max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <a href="/register">
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Vous recherchezune
                mission ?</h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">En déposant votre CV, vous accédez aux
              meilleures missions en direct avec les grands comptes !.</p>
            <a href="/register"
              class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
              chercher une mission
              <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                  clip-rule="evenodd"></path>
              </svg>
            </a>
          </div>
          <div
            class=" max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <a href="/journal">
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Notre Communautés </h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"> communique régulièrement ses idées et ses
              impressions sur divers sujets</p>
            <a href="/journal"
              class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
              Allez a blog
              <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                  clip-rule="evenodd"></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  {{> footer}}
  <script>
    function Menu(e) {
      let list = document.querySelector('ul');
      e.name === 'menu' ? (e.name = "close", list.classList.add('top-[80px]'), list.classList.add('opacity-100')) : (e.name = "menu", list.classList.remove('top-[80px]'), list.classList.remove('opacity-100'))
    }
  </script>
</body>

</html>