
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <link rel="stylesheet" href="/styles/style.css">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TuniWork</title>
</head>

<body>
    {{> navbar}}
    <div class="flex flex-row h-auto justify-center items-center mt-7 ">
        <div class=" border shadow rounded-lg w-1/4 ">

            <form action="">
                <h1 class=" px-4 my-5 text-2xl ">Filters</h1>

                <div class="px-4 my-5">
                    <h1>Type de projet <span style="color:red;"> *</span></h1>
                    <div class="flex flex-col">
                        <div class="my-3">
                            <input type="checkbox" name="" id="">
                            <label for="">Taux horaire</label>
                        </div>
                        <div>
                            <input type="checkbox" name="" id="">
                            <label for="">Prix ​​fixe</label>
                        </div>
                    </div>
                </div>
                <div class="px-4 my-5">
                    <h1>Prix ​​fixe <span style="color:red;"> *</span></h1>
                    <div class="flex flex-col  ">
                        <div class=" my-auto">
                            <label for="" class="flex my-2">Min</label>
                            <div class=" lg:relative flex   my-2 items-center focus-within:text-gray-500">
                                <i class='bx bx-dollar absolute mt-1 px-2 pointer-events-none text-blue-700'> </i>
                                <input type="text" class="px-8  h-8 rounded-lg w-52" placeholder="0 dinar">
                            </div>
                        </div>
                        <div class=" ">
                            <label for="" class="flex my-2">Max</label>
                            <div class=" lg:relative flex   my-2 items-center focus-within:text-gray-500">
                                <i class='bx bx-dollar absolute mt-1 px-2 pointer-events-none text-blue-700'> </i>
                                <input type="text" class="px-8  h-8 rounded-lg w-52" placeholder="1000 dinars +">
                            </div>
                        </div>
                    </div>

                </div>
                <div class="px-4 my-5">
                    <h1>Taux horaire <span style="color:red;"> *</span></h1>
                    <div class="flex flex-col  ">
                        <div class=" my-auto">
                            <label for="" class="flex my-2">Min</label>
                            <div class=" lg:relative flex   my-2 items-center focus-within:text-gray-500">
                                <i class='bx bx-dollar absolute mt-1 px-2 pointer-events-none text-blue-700'> </i>
                                <input type="text" class="px-8  h-8 rounded-lg w-52" placeholder="0 dinar">
                            </div>
                        </div>
                        <div class=" ">
                            <label for="" class="flex my-2">Max</label>
                            <div class=" lg:relative flex   my-2 items-center focus-within:text-gray-500">
                                <i class='bx bx-dollar absolute mt-1 px-2 pointer-events-none text-blue-700'> </i>
                                <input type="text" class="px-8  h-8 rounded-lg w-52" placeholder="1000 dinars +">
                            </div>
                        </div>
                    </div>

                </div>
                <div class="px-4 my-5">
                    <h1>Compétences</h1>
                    <div class=" lg:relative flex   my-2 items-center focus-within:text-gray-500">
                        <i class='bx bx-search-alt-2 absolute mt-1 px-2 pointer-events-none text-blue-700'> </i>
                        <input type="text" class="px-8  h-8 rounded-lg w-52" placeholder="recherche">
                    </div>
                    <div class="my-3">
                        <input type="checkbox" name="" id="" class=" rounded">
                        <label for="">Html</label>
                    </div>
                </div>
            </form>
        </div>

        <div class="w-2/4">
               <div class="p-4 rounded-md block items-center justify-center">
                    {{#each projet}}
                    <div class="flex w-full">
                        <div class="w-full rounded-xl border bg-white p-5 shadow-md">
                            <div class="flex w-full items-center justify-between border-b pb-3">
                                <div class="flex items-center space-x-3">
                                    <div class="text-lg font-bold text-slate-700">{{nom}} {{prenom}}</div>
                                </div>
                                <div class="flex items-center space-x-8">
                                    <a href="/offer/{{id}}"
                                        class="rounded-2xl border bg-cyan-500 px-3 py-1 text-l font-semibold">Demander</a>
                                    <div class="text-xs text-neutral-500">2 hours ago</div>
                                </div>
                            </div>

                            <div class="mb-6 mt-4">
                                <div class="mb-3 text-xl font-bold"> {{titre}} </div>
                                <div class="text-sm text-neutral-600"> {{description}} </div>
                            </div>

                            <div>
                                <div class="flex items-center justify-between text-slate-500">
                                    <div class="flex space-x-4 md:space-x-8">
                                        <div class="flex cursor-pointer items-center transition hover:text-slate-600">
                                            <ion-icon class="mr-1.5 h-5 w-5" name="cash-outline"></ion-icon>
                                            
                                            <span>{{prix}}</span>
                                        </div>
                                        <div class="flex cursor-pointer items-center transition hover:text-slate-600">
                                           <ion-icon class="mr-1.5 h-5 w-5" name="hourglass-outline"></ion-icon>
                                            <span>{{duree}}</span>
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}


                </div>
        </div>
    </div>
 {{> footer}}
</body>

</html>
