<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="/vite.svg" />
  <link rel="stylesheet" href="/styles/style.css">
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>TuniWork</title>
</head>

<body>
  {{> navbarClient}}
  <div class="mx-auto grid md:p-1 lg:p-20 w-7xl grid-cols-12 gap-4 bg-zinc-50">
    <div class="header col-span-12 rounded-lg border-y-4  border-blue-300  py-8">
      <h1 class="ml-32 font-extrabold ">Liste de mission publier </h1>
    </div>
    <div
      class="col-span-12 rounded-lg border border-gray-400 bg-gradient-to-r from-sky-300 to-blue-300 p-16 sm:col-span-4">
      <form action="" method="post">
        <div class="relative">
          <div class="absolute ml-2 flex h-full items-center">
            <svg class="text-primary-gray-dark h-4 w-4 fill-current" viewBox="0 0 16 16" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M15.8898 15.0493L11.8588 11.0182C11.7869 10.9463 11.6932 10.9088 11.5932 10.9088H11.2713C12.3431 9.74952 12.9994 8.20272 12.9994 6.49968C12.9994 2.90923 10.0901 0 6.49968 0C2.90923 0 0 2.90923 0 6.49968C0 10.0901 2.90923 12.9994 6.49968 12.9994C8.20272 12.9994 9.74952 12.3431 10.9088 11.2744V11.5932C10.9088 11.6932 10.9495 11.7869 11.0182 11.8588L15.0493 15.8898C15.1961 16.0367 15.4336 16.0367 15.5805 15.8898L15.8898 15.5805C16.0367 15.4336 16.0367 15.1961 15.8898 15.0493ZM6.49968 11.9994C3.45921 11.9994 0.999951 9.54016 0.999951 6.49968C0.999951 3.45921 3.45921 0.999951 6.49968 0.999951C9.54016 0.999951 11.9994 3.45921 11.9994 6.49968C11.9994 9.54016 9.54016 11.9994 6.49968 11.9994Z">
              </path>
            </svg>
          </div>

          <input type="text" placeholder="Search by listing, location, bedroom number..."
            class="w-full rounded-md border-transparent bg-gray-100 px-8 py-3 text-sm focus:border-gray-500 focus:bg-white focus:ring-0" />
        </div>

        <div class="mt-4 flex items-center justify-between">
          <p class="font-medium">Filters</p>

          <button type="reset"
            class="rounded-md bg-gray-100 px-4 py-2 text-sm font-medium text-gray-800 hover:bg-gray-200">Réinitialiser
            Filter</button>
        </div>
        <select
          class="mt-4 w-full rounded-md border-transparent bg-gray-100 px-4 py-3 text-sm focus:border-gray-500 focus:bg-white focus:ring-0">
          <option value="">Tous Domaine</option>
          <option value="for-rent">For Rent</option>
          <option value="for-sale">For Sale</option>
        </select>

        <button type="submit"
          class="rounded-md bg-blue-600 px-4 py-2 text-sm font-medium  mt-4 hover:bg-blue-700 text-white">Chercher</button>
      </form>
      <details class="bg-white shadow rounded group mt-3 mb-4">
        <summary class="list-none flex flex-wrap items-center cursor-pointer
    focus-visible:outline-none focus-visible:ring focus-visible:ring-pink-500
    rounded group-open:rounded-b-none group-open:z-[1] relative
    ">

          <h3 class="flex flex-1 p-4 font-semibold"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
              viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;">
              <circle cx="18" cy="6" r="3"></circle>
              <path
                d="M13 6c0-.712.153-1.387.422-2H6c-1.103 0-2 .897-2 2v12c0 1.103.897 2 2 2h12c1.103 0 2-.897 2-2v-7.422A4.962 4.962 0 0 1 18 11a5 5 0 0 1-5-5z">
              </path>
            </svg>Notifications D'offer</h3>
          <div class="flex w-10 items-center justify-center">
            <div class="border-8 border-transparent border-l-gray-600 ml-2
        group-open:rotate-90 transition-transform origin-left
        "></div>
          </div>
        </summary>
        <div class=" h-80 overflow-auto ">
                    {{#each missionRefuse}}
          <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
            <strong class="font-bold">Projet refuser!</strong>
            <span class="block sm:inline">Votre Projet qui vous proposez sur un freelance est refuser</span>
            <span class="absolute top-0 bottom-0 right-0 px-4 py-3">

            </span>
          </div>
          {{/each }}
          
          {{#each missionAccept}}
          <div class="bg-teal-100 border-t-4 border-teal-500 rounded-b text-teal-900 px-4 py-3 shadow-md"
            role="alert">
            <div class="flex">
              <div class="py-1"><svg class="fill-current h-6 w-6 text-teal-500 mr-4" xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20">
                  <path
                    d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z" />
                </svg></div>
              <div>
                <p class="font-bold">Projet accepter</p>
                <p class="text-sm">votre freelance accepte votre projet </p>
              </div>
            </div>
          </div>
          {{/each }}
          {{#each notification}}
          <a href="/voirMission/{{id}}" class=" mb-2">
            <div class="bg-blue-100 border-t border-b border-blue-500 text-blue-700 px-4 py-3" role="alert">
              <p class="font-bold">Nouvelle proposition d'offer <span class=" text-gray-900">{{ formatDate date_offer "
                  YYYY-MM-DD hh:mm"}}</span> </p>
              <p class="text-sm"> IL y a un freelance propose un offer sur votre mission <a href="/voirMission/{{id}}"
                  class=" text-gray-800">voir l'offer</a> </p>
            </div>
          </a>
          {{/each }}
        </div>

      </details>
    </div>
    <div class="col-span-12 rounded-lg border border-gray-500 bg- p-2 sm:col-span-8">
      <div class="flex flex-row h-auto justify-center items-center  mt-7   ">


        <div class=" w-full ">
          {{#each projet}}


          <div class=" flex w-full mb-4 ">
            <div class="w-full rounded-xl border bg-white p-5 shadow-md">
              <div class="flex w-full items-center justify-between border-b pb-3">
                <div class="flex items-center space-x-3">
                  <div class="text-xs text-neutral-500">{{formatDate date_publier " YYYY-MM-DD hh:mm"}}</div>
                </div>
                <div class="flex items-center space-x-8">
                  <a href="/supprimer/{{id}}"
                    class="rounded-2xl border  bg-red-400 px-3 py-1 text-l font-semibold">supprimer</a>
                  <a href="/modifier/{{id}}"
                    class="rounded-2xl border   bg-green-400 px-3 py-1 text-l font-semibold">modfier</a>
                </div>
              </div>

              <div class="mb-6 mt-4">
                <div class="mb-3 text-xl font-bold"> {{titre}} </div>
                <div class="text-sm text-neutral-600"> {{description}} </div>
              </div>

              <div>
                <div class="flex items-center justify-between text-slate-500">
                  <div class="flex space-x-4 md:space-x-8">
                    <div class="flex cursor-pointer items-center transition hover:text-slate-600">
                      <ion-icon class="mr-1.5 h-5 w-5" name="cash-outline"></ion-icon>

                      <span>{{prix}}</span><span> DT</span>
                    </div>
                    <div class="flex cursor-pointer items-center transition hover:text-slate-600">
                      <ion-icon class="mr-1.5 h-5 w-5" name="hourglass-outline"></ion-icon>
                      <span>{{duree}}</span>
                    </div>

                  </div>
                  <div class="flex items-center space-x-8">
                    <a href="/voirMission/{{id}}"
                      class="rounded-2xl border text-white  bg-blue-400 px-3 py-1 text-l font-semibold">voir les
                      offers</a>

                  </div>
                </div>
              </div>
            </div>


          </div>

          {{/each}}
        </div>
      </div>


    </div>
  </div>



  {{> footer}}
</body>

</html>