<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./styles/style.css">

  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>

<body>
  {{> navbarClient}}


  <section>
    
    <div class=" bg-blue-100 shadow-2xl mt-12 sm:mx-32 lg:mx-32 xl:mx-72 ">
      <div class="flex justify-between container mx-auto">
        <div class="w-full">
          <div class="mt-4 px-4">
           
            <h1 class="text-3xl font-semibold py-7 px-5">Modifier votre mission </h1>


            <form action="/modifiermission" method="post" class="mx-5 my-5">
            
              <label class="relative block p-3 border-2 border-black rounded" For="Titre ">
                <span class="text-md font-semibold text-zinc-900" For="titre">
                  Titre de mission
                </span>
                <input type="text" id="id_projet" name="id_projet" value="{{projet.id}}" hidden>
                <input class="w-full bg-transparent p-0 text-sm  text-gray-500 focus:outline-none" id="titre" name="titre" type="text"
                  placeholder="vous titre" value="{{projet.titre}}" />
              </label>

              <label class="relative block p-3 border-2 mt-5 border-black rounded" For="discription">
                <span class="text-md font-semibold text-zinc-900" For="discription">
                  description
                </span>
                <textarea   class="w-full     p-0 text-sm border-none bg-transparent text-gray-500 focus:outline-none"
                  placeholder="ecrire vous discription de mission"  name="description" id="description" cols="30" rows="10"> {{projet.description}} </textarea>

              </label>


              <label class="relative block p-3 border-2  mt-5 border-black rounded" For="name">
                <span class="text-md font-semibold  text-zinc-900" For="prix">
                  Prix de mission
                </span> <br>

                <input class="w-1/6 read-only:bg-zinc-800  p-0 text-sm bg-transparent text-gray-500 focus:outline-none"
                  id="prix" name="prix" type="number" value="{{projet.prix}}" placeholder=" 1000 " /> <span
                  class="text-md font-semibold text-zinc-900">DT</span>

              </label>

              <label class="relative block p-3 border-2 mt-5 border-black rounded" htmlFor="name">
                <span class="text-md font-semibold  text-zinc-900"  For="duree">
                  Duree de mission
                </span>

                <input class="w-full read-only:bg-zinc-800  p-0 text-sm bg-transparent text-gray-500 focus:outline-none"
                  id="duree" name="duree" value="{{projet.duree}}" type="text" placeholder="exmple 1 mois" />

              </label>


              <label for="Domaine" class="text-2xl font-semibold mt-5">Domaine de mission :</label>
              <select id="domaine" name="domaine"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                <option selected value="{{projet.domaine}}" class="border-2 border-black rounded-md border-b-4 border-l-4 font-black px-2">{{projet.domaine}}
                </option>
                <option class="border-2 border-black rounded-md border-b-4 border-l-4 font-black px-2" value="Technologie Informatique">Technologie Informatique</option>
                <option class="border-2 border-black rounded-md border-b-4 border-l-4 font-black px-2" value="Developpeur fullstack">Developpeur fullstack</option>
                <option class="border-2 border-black rounded-md border-b-4 border-l-4 font-black px-2" value="Developpeur BackEnd"> Developpeur BackEnd</option>
                <option class="border-2 border-black rounded-md border-b-4 border-l-4 font-black px-2" value="Developpeur frontend"> Developpeur frontend </option>
                <option class="border-2 border-black rounded-md border-b-4 border-l-4 font-black px-2" value="designe web">  designe web </option>
              </select>
              <Button type="submit"
                class="mt-5 border-2 px-5 py-2 rounded-lg border-black border-b-4 font-black translate-y-2 border-l-4">
                modifier
              </Button>
            </form>
            
          </div>
        </div>


      </div>
    </div>
    </div>
  </section>

  {{> footer}}
  <script>
    function Menu(e) {
      let list = document.querySelector('ul');
      e.name === 'menu' ? (e.name = "close", list.classList.add('top-[80px]'), list.classList.add('opacity-100')) : (e.name = "menu", list.classList.remove('top-[80px]'), list.classList.remove('opacity-100'))
    }
  </script>
</body>

</html>