<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <link rel="stylesheet" href="/styles/style.css">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TuniWork</title>
</head>

<body>
    {{> navbar}}
    <div class="mx-auto grid md:p-1 lg:p-20 w-7xl grid-cols-12 gap-4 bg-zinc-50">
        <div class="header col-span-12 rounded-lg border-y-4  border-blue-300  py-8">
            <div class=" ml-10 flex w-11/12  ">
                <h1 class="  font-extrabold  ">Modfier voter offer </h1>
            </div>

        </div>
        <div
            class="col-span-12 rounded-lg border border-gray-400 bg-gradient-to-r from-sky-300 to-blue-300 p-4 sm:col-span-4">
            <a class=" cursor-pointer text-gray-600" href="/">Retour</a>

            <form class="" action="/modifierOffer" method="POST">
                <input type="text" name="id_projet" id="id_projet" hidden value="{{projet.id}}">
                <input type="text" name="id_utilisateur" id="id_utilisateur" hidden value="{{utilisateurs.id}}">
                <div class="mb-4">
                    <label for="description" class="mb-3 block text-base font-medium text-[#07074D]">
                        Description d'offer:
                    </label>
                    <textarea name="description" id="description" cols="30" rows="10"
                        placeholder="ecrire votre description de l'offer "
                        class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"> {{offer.description}} </textarea>
                </div>

                <div class="mb-4">
                    <label for="montant" class="mb-3 block text-base font-medium text-[#07074D]">
                        Montant d'offer en DT:
                    </label>
                    <input type="number" name="montant" id="montant"  value="{{offer.prix}}"
                        class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
                </div>
                <div class="mb-6 pt-4">
                    <label class="mb-5 block text-xl font-semibold text-[#07074D]">
                        Télécharger cv
                    </label>

                    <div class="mb-8 ">
                        <input type="file" name="file" id="file" class="  sr-only" />
                        <label for="file"
                            class="relative flex min-h-[200px] items-center justify-center rounded-md border border-dashed cursor-pointer bg-slate-50 border-[#e0e0e0] p-12 text-center">
                            <div>
                                <span class="mb-2 block text-xl font-semibold text-[#07074D]">
                                    Déposer votre cv
                                </span>
                                <span class="mb-2 block text-base font-medium text-[#6B7280]">
                                    Or
                                </span>
                                <span
                                    class="inline-flex rounded cursor-pointer border border-[#e0e0e0] py-2 px-7 text-base font-medium text-[#07074D]">
                                    parcourir
                                </span>
                            </div>
                        </label>
                    </div>



                </div>
                <div>
                    <button
                        class="hover:shadow-form w-full rounded-md bg-[#6A64F1] py-3 px-8 text-center text-base font-semibold text-white outline-none">
                        Envoyer l'offer
                    </button>
                </div>
            </form>

        </div>
        <div class="col-span-12 rounded-lg border border-gray-500 bg- p-2 sm:col-span-8">
            <div class="block flex-row h-auto justify-center items-center  mt-7 mb-44   ">
                <div class="flex w-full">
                    <div class="w-full rounded-xl border bg-white p-5 shadow-md">
                        <div class="flex w-full items-center justify-between border-b pb-3">
                            <div class="flex items-center space-x-3">
                                <div class="text-lg font-bold text-slate-700">{{projet.nom}} {{projet.prenom}}</div>
                            </div>

                        </div>

                        <div class="mb-6 mt-4">
                            <div class="mb-3 text-xl font-bold">{{projet.titre}}</div>

                            <div class="mb-3 text-l font-bold">Domaine requise</div>
                            <div class=" mb-4">
                                <span
                                    class="bg-blue-100 text-blue-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded  ml-2 ">
                                    {{projet.domaine}} </span>

                            </div>
                            <div class="mb-3 text-l font-bold">Description de la mission</div>
                            <div class="text-sm text-neutral-600  mb-4"> {{projet.description}} </div>
                            <div class="mb-3 text-l font-bold">Profil recherché</div>
                            <div class="text-sm text-neutral-600  mb-4"> </div>

                        </div>

                        <div>
                            <div class="flex items-center justify-between text-slate-500">
                                <div class="flex space-x-4 md:space-x-8">
                                    <div class="flex cursor-pointer items-center transition hover:text-slate-600">
                                        <ion-icon class="mr-1.5 h-5 w-5" name="cash-outline"></ion-icon>

                                        <span>{{projet.prix}} dt</span>
                                    </div>
                                    <div class="flex cursor-pointer items-center transition hover:text-slate-600">
                                        <ion-icon class="mr-1.5 h-5 w-5" name="hourglass-outline"></ion-icon>
                                        <span>{{projet.duree}}</span>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-full border border-gray-500 p-4">
                    
                    <div class="block w-full items-center justify-center rounded-md pl-8">
                        <h1 class="cursor-pointer text-lg font-semibold text-gray-700 hover:underline">Prix de l'offer :
                            <span> {{offer.prix}} dt</span></h1>
                        <div class="mt-2 flex"></div>
                        <h1 class="cursor-pointer text-lg font-semibold text-gray-700 hover:underline">Description de
                            l'offer :</h1>
                        <p class="text-md mt-4 text-gray-600">{{offer.description}}</p>
                        <div class="flex w-full items-center justify-between border-b pb-3">
                            <div class="flex items-center space-x-3">
                                <div class="mt-4 flex items-center space-x-4 py-6">
                                    <div class="flex">
                                        <div class="flex text-sm font-semibold"> • <span
                                                class="font-normal"> {{ formatDate offer.date_offer " YYYY-MM-DD hh:mm"}}
                                            </span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="flex items-center space-x-8">
                                <h1
                                    class="flex  h-6 w-24cursor-pointer items-center justify-center rounded-full bg-yellow-400 p-6 text-sm text-white shadow-lg">Offer a modifier</h1>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>


        </div>
    </div>
    {{> footer}}
</body>

</html>