
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <link rel="stylesheet" href="/styles/style.css">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TuniWork</title>
</head>

<body>
    {{> navbarClient}}
 <div class="w-7xl mx-auto grid grid-cols-12 gap-4 bg-zinc-50 md:p-1 lg:p-20">
    <div class="header col-span-12 rounded-lg border-y-4 border-blue-300 py-8">
      <div class="ml-10 flex w-11/12">
        <h1 class="font-extrabold">Offer acceptée</h1>
      </div>
    </div>
    <div class="col-span-12 rounded-lg border border-gray-400 bg-gradient-to-r from-sky-300 to-blue-300 p-4 sm:col-span-4">
        <a class="cursor-pointer text-2xl text-gray-600" href="/missionTerminer">Retour</a>
    </div>
    <div class="bg- col-span-12 rounded-lg border border-gray-500 p-2 sm:col-span-8">
      
      <div class="flex h-auto flex-row items-center justify-center">
        <div class="block w-full">
          <div class="block w-full items-center justify-center rounded-md p-4">
            <div class="mb-7 flex w-full">
              <div class="w-full rounded-xl border bg-white p-5 shadow-md">
                <div class="flex w-full items-center justify-between border-b pb-3">
                  <div class="flex items-center space-x-3">
                    <div class="text-xs text-neutral-500">{{ formatDate projet.date_publier " YYYY-MM-DD hh:mm"}}</div>
                  </div>
                  <div class="flex items-center space-x-8">
                    <a href="/modifier/{{projet.id}}"
                      class="text-l rounded-2xl border  bg-green-500 px-3 py-1 font-semibold"> Termier avec succes</a>
                  </div>
                </div>

                <div class="mb-6 mt-4">
                  <div class="mb-3 text-xl font-bold">{{projet.titre}}</div>
                  <div class="text-sm text-neutral-600">{{projet.description}}</div>
                </div>

                <div>
                  <div class="flex items-center justify-between text-slate-500">
                    <div class="flex space-x-4 md:space-x-8">
                      <div class="flex cursor-pointer items-center transition hover:text-slate-600">
                        <ion-icon class="mr-1.5 h-5 w-5" name="cash-outline"></ion-icon>

                        <span>{{projet.prix}}</span><span> DT</span>
                      </div>
                      <div class="flex cursor-pointer items-center transition hover:text-slate-600">
                        <ion-icon class="mr-1.5 h-5 w-5" name="hourglass-outline"></ion-icon>
                        <span>{{projet.duree}}</span>
                      </div>
                    </div>
                    <div class="flex items-center space-x-8">
                      <a href="/listMission"
                        class="text-l rounded-2xl border bg-blue-400 px-3 py-1 font-semibold text-white">voir les autre
                        mission</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="w-full border border-gray-500 p-4">
            
            <div class="block w-full items-center justify-center rounded-md pl-8">
              <h1 class="cursor-pointer text-lg font-semibold text-gray-700 hover:underline">Prix de l'offer : <span>
                  {{offer.prix}} dt</span></h1>
              <div class="mt-2 flex"></div>
              <h1 class="cursor-pointer text-lg font-semibold text-gray-700 hover:underline">Description de l'offer :
              </h1>
              <p class="text-md mt-4 text-gray-600">{{offer.description}}</p>
              <div class="flex w-full items-center justify-between border-b pb-3">
                <div class="flex items-center space-x-3">
                  <div class="mt-4 flex items-center space-x-4 py-6">
                    <div class="">
                      <img class="h-12 w-12 rounded-full" src="/uploads/{{offer.image_url}}" alt="" />
                    </div>
                    <div class="flex">
                      <div class="flex text-sm font-semibold">{{offer.nom}} {{offer.prenom}} • <span class="font-normal"> {{
                          formatDate offer.date_offer " YYYY-MM-DD hh:mm"}} </span></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>

   
 {{> footer}}
</body>

</html>
